.container {
  transition: all 0.25s ease;
}

.sticky {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid;
}

.sticky .headinfo {
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo {
  transition: all 0.25s ease-out;
}

.headinfo, .navbar {
  padding: 0 20vw;
  transition: all 0.3s ease;
}

.headinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1D52FF;
  color: white;
}

.navbar {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

.navbar ul li:hover {
  border-bottom: 3px solid;
}
